<!-- Parallax background -->

<app-parallax-background></app-parallax-background>

<!-- Search destination form -->

<form>
  
  <!-- Title -->
  
  <h1 class="mod-headline">Lucca Voyages</h1>

  <!-- Sort select -->

  <mat-form-field id="sort" appearance="outline">
    <mat-label>Trier par</mat-label>
    <mat-select (selectionChange)="selectSort()" [formControl]="sortControl">
      <mat-select-trigger *ngIf="sortControl.value">
        {{ sortControl.value.name }} <i class="lucca-icon">{{ sortControl.value.icon }}</i>
      </mat-select-trigger>
      <mat-option *ngFor="let sort of sorts" [value]="sort">
        {{sort.name}} <i class="lucca-icon">{{ sort.icon }}</i>
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- Destination search select -->
  
  <mat-form-field id="destination" appearance="outline">
    <input type="text" placeholder="Où voudriez-vous aller ?" aria-label="Destination" matInput [formControl]="destinationControl"
      [matAutocomplete]="auto">
    <mat-autocomplete (optionSelected)='selectDestination($event.option.value)' #auto="matAutocomplete">
      <mat-option *ngFor="let destination of destinationsOptions | async" [value]="destination.id">
        {{ destination.name }} ({{ destination.country }}) : {{ destination.priceRange }} <i class="lucca-icon u-textWarning" *ngFor="let item of ratingArray(destination.rating)">star</i> <i *ngIf="isHalf(destination.rating)" class="lucca-icon half u-textWarning">star</i>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>