@import '../../../assets/scss/utils';

:host {
    background-color: white;
    @include dimensions(calc(50% - 10px), auto);
    @include flex(vertical);
    @include margin(0 auto 10px);
    border-radius: 5px;

    .thumbnail-container {
        @include dimensions(100%, 50%);
        overflow: hidden;
        border-radius: 5px 5px 0 0;

        img {
            @include dimensions(100%);
        }
    }

    .infos {
        @include dimensions(100%, 50%);
        @include flex(vertical);
        overflow: hidden;
        border-radius: 0 0 5px 5px;

        h2 {
            @include margin(15px auto 0 15px);
        }

        .description {
            @include padding(15px);
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 10px 10px 10px black;
    }
}